/*
Default: Will try to fit as many cards in a row as possible
(two-column), and (three-column) are optional block variations
*/

.cards > ul {
  list-style: none;
  margin: 0 4% 78px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(278px, 1fr));
  grid-gap: 8px;
}

.cards.two-column > ul {
  grid-template-columns: repeat(2, minmax(278px, 1fr));
}

.cards.three-column > ul {
  grid-template-columns: repeat(3, minmax(278px, 1fr));
}

.cards > ul > li {
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin-top: 12px;
}

.cards .cards-card-body > p {
  margin: 0;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
