/* main .hero-wrapper {
  max-width: unset;
} */

main .hero-container {
  padding: 0;
}

.hero {
  position: relative;
  min-height: 300px;
}

.hero > div > div > p:has(> picture) {
  margin: 0;
}

.hero h1 {
  max-width: 1200px;
  color: black;
  font-family: AudiTypeExtended, sans-serif;
  font-size: 27px;
  line-height: 42px;
  font-weight: var(--font-weight-bold);
  order: 1;
  padding: 0 4%;

  @media (width >= 1200px) {
    color: white;
  }
}

.hero img {
  width: 100%;
  object-fit: cover;
  user-select: none;
}

.hero:not(.variation1) > div > div {
  display: grid;

  @media (width >= 1200px) {
    display: contents;
  }
}

.hero:not(.variation1) p.button-container {
  margin: 15px 0;
  padding: 0 4%;
  order: 2;

  @media (width >= 1200px) {
    display: inline-block;
    width: fit-content;
    padding-right: 0;
  }
}

.hero:not(.variation1) p.button-container:last-child {
  margin: -15px 0 15px;

  @media (width >= 1200px) {
    padding-left: 0;
  }
}

.hero a.button {
  width: 100%;
  margin: 0;

  @media (width >= 1200px) {
    width: inherit;
    color: white;
    border-color: white;
  }
}

.hero a.button.primary {
  background-color: black;

  @media (width >= 1200px) {
    background-color: white;
    color: black;
    border-color: white;
  }
}

@media (width > 1200px) {
  .hero {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    min-height: 500px;
  }

  .hero p {
    color: white;
    padding-left: 4%;
  }

  .hero picture {
    position: absolute;
    z-index: -1;
    inset: 0;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
  }

  .hero picture img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .hero h1,
  .hero p.button-container {
    max-width: 1920px;
  }

  .hero:not(.bottom) h1 {
    padding-top: 42px;
  }

  .hero.bottom h1 {
    padding-top: 300px;
  }

  .hero.variation1 h2,
  .hero.variation1 p.button-container {
    max-width: 1920px;
    margin: 0 auto;
    color: white;
    text-align: center;
  }

  .hero.variation1 h2 {
    padding-top: 10%;
  }

  .hero.variation1 a.button.secondary::after {
    content: url('/aemedge/icons/forward-white.svg');
  }
}
