main .hero-container > div {
  max-width: unset;
}

main .hero-container {
  padding: 0;
}

.hero {
  min-height: 300px;
}

.hero h1 {
  max-width: 1200px;
  color: black;
  font-family: AudiTypeExtended, sans-serif;
  font-size: 27px;
  line-height: 42px;
  font-weight: var(--font-weight-bold);
  order: 1;
  padding: 0 4%;

  @media (width >= 1024px) {
    color: white;
  }
}

.hero img {
  width: 100%;
  object-fit: cover;

  @media (width >= 1024px) {
    height: 57%;
  }
}

.hero > div > div {
  display: grid;

  @media (width >= 1024px) {
    display: unset;
  }
}

.hero p.button-container {
  margin: 15px 0;
  padding: 0 4%;
  order: 2;

  @media (width >= 1024px) {
    display: inline-block;
    width: fit-content;
    padding-right: 0;
  }
}

.hero p.button-container:last-child {
  margin: -15px 0 15px;

  @media (width >= 1024px) {
    padding-left: 0;
  }
}

.hero a.button {
  width: 100%;
  margin: 0;

  @media (width >= 1024px) {
    width: inherit;
    color: white;
    border-color: white;
  }
}

.hero a.button.primary {
  background-color: black;

  @media (width >= 1024px) {
    background-color: white;
    color: black;
    border-color: white;
  }
}

@media (width > 1024px) {
  .hero picture {
    position: absolute;
    z-index: -1;
    inset: 0;
    object-fit: cover;
    box-sizing: border-box;
  }
}
