.columns > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 48px 4%;
  overflow: hidden;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

/* Hover Variation */
.columns.hover > div > div {
  text-align: center;
  color: white;
  overflow: hidden;
  position: relative;
  aspect-ratio: 6/7;
}

.columns.hover > div > div > p {
  padding: 1rem;
}

.columns.hover > div > div > div.hover-wrapper,
.columns.hover > div > div > div.content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
}

.columns.hover > div > div > div.content-wrapper {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;

  /* if screen width is too narrow and text content to large, it might overflow and be hidden */
  font-size: 1rem;
}

.columns.hover > div > div > div.content-wrapper > p {
  margin: 0 32px;
}

.columns.hover > div > div > div.content-wrapper > p.button-container > a.button {
  color: var(--background-color);
  border-color: var(--background-color);
}

.columns.hover > div > div > div.content-wrapper > p.button-container > a.button:hover {
  color: var(--link-hover-color);
  border-color: var(--link-hover-color);
}

.columns.hover > div > div > div.content-wrapper > *:first-child {
  margin-top: 32px;
}

/* If last child is a p with an em text, move it to the bottom */
.columns.hover > div > div > div.content-wrapper > p:last-child:has(em) {
  margin-top: auto;
  margin-bottom: 1rem;
  text-align: start;
}

.columns.hover > div > div > div.content-wrapper > h1 {
  font-size: 28px;
}

.columns.hover > div > div > div.hover-wrapper {
  overflow: hidden;
  position: relative;
}

.columns.hover > div > div > div.hover-wrapper > p > picture > img {
  display: block;
  -webkit-user-drag: none;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

@media (width >= 900px) {
  /* zoom-in effect on hover */
  .columns.hover > div > div:hover > div.hover-wrapper > p > picture > img {
    transition: all 2000ms cubic-bezier(0.75, 0.02, 0.5, 1) 0s;
    transform: scale(1.2);
  }
}
