.columns > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 48px 4%;
  overflow: hidden;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

/* Target each 'column item' */
.columns.hover > div > div {
  text-align: center;
  color: white;
  height: 100%;
  width: 100%;
  aspect-ratio: 6/7;
  overflow: hidden;
  position: relative;
}

.columns.hover > div > div > p {
  padding: 1rem;
}

.columns.hover > div > div > div.hover-wrapper,
.columns.hover > div > div > div.content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.columns.hover > div > div > div.content-wrapper {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 32px;
}

.columns.hover > div > div > div.hover-wrapper {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.columns.hover > div > div > div.hover-wrapper > p > picture > img {
  display: block;
  -webkit-user-drag: none;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

/* zoom-in effect on hover */
.columns.hover > div > div > div.hover-wrapper:hover > p > picture > img {
  transition: all 2000ms cubic-bezier(0.75, 0.02, 0.5, 1) 0s;

  @media (width >= 900px) {
    transform: scale(1.2);
  }
}
