/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand .' var(--nav-height)
    'sections sections .' 1fr / 1fr 1fr 1fr;
  align-items: center;
  margin: auto;
  max-width: 1784px;
  height: var(--nav-height);
  padding-inline: 1.75rem;
  font-family: var(--body-font-family);
}

header nav[aria-expanded="true"] {
  grid-template:
    'hamburger tools tools' var(--nav-height)
    'sections sections sections' 1fr / 1fr 1fr 1fr;
  overflow-y: auto;
  min-height: 100vh;
}

@media (width >= 900px) {
  header nav {
    display: flex;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
  margin-inline-start: 3px;
}

header nav .nav-hamburger button {
  height: 24px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 18px;
}

header nav .nav-hamburger-icon .line {
  position: absolute;
  background: currentcolor;
  height: 1px;
  inset: 0;
  width: 100%;
}

header nav .nav-hamburger-icon .line.top {
  top: -3px;
}

header nav .nav-hamburger-icon .line.bottom {
  top: 3px;
}

header nav[aria-expanded="true"] .line {
  transition: transform .25s .25s, top .25s;
}

header nav[aria-expanded="false"] .line {
  transition: transform .25s, top .25s .25s;
}


header nav[aria-expanded="true"] .line.middle {
  display: none;
}

header nav[aria-expanded="true"] .line.top {
  top: 0;
  transform: rotate(45deg);
}

header nav[aria-expanded="true"] .line.bottom {
  top: 0;
  transform: rotate(-45deg);
}


@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
  }
}

/* brand */
header nav .nav-brand {
  grid-area: brand;
  flex-basis: 69px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav[aria-expanded="true"] .nav-brand {
  display: none;
}

header nav .nav-brand a .link-text {
  display: none;
}

header nav .nav-brand .icon {
  width: 69px;
  height: auto;
}

@media (width >= 900px) {
  header .nav-brand {
    margin-inline-end: 2.25rem;
  }
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  align-self: start;
  height: 100%;
}

header nav .nav-sections .nav-list {
  color: var(--colors-base-grey-60);
  position: relative;
  overflow-x: clip;
  height: 100%;
}

header nav .nav-section,
header nav .nav-item {
  padding-block: 12px;
  display: block;
}

header nav .nav-item.audi-sport {
  position: relative;
}

header nav .nav-item.audi-sport .link-text {
  padding-inline-start: 42px;
}

header nav .nav-item.audi-sport::before {
  background-color: var(--color-progressive-red);
  content: "";
  display: inline-block;
  height: 24px;
  left: 6px;
  position: absolute;
  transform: skew(-28deg);
  vertical-align: top;
  width: 24px;
}

header nav .nav-section .nav-section-toggle-button {
  position: relative;
  display: block;
}

header nav .nav-section .nav-section-toggle-button::after {
  content: '';
  background: url('../../icons/forward.svg') no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
}

header nav .nav-sections .nav-section-flyout {
  visibility: hidden;
  background-color: var(--background-color);
  position: absolute;
  inset: 0;
  transform: translateX(100vw);
  transition: transform .6s, visibility .4s .2s;
  transform-origin: top;
  z-index: 2;
}

header nav .nav-sections .nav-section-flyout[aria-expanded="true"] {
  visibility: visible;
  transform: translateX(0);
  transition: transform .6s, visibility 0s;
}

header nav .nav-sections .nav-flyout-close-button {
  display: flex;
  width: 100%;
  background: none;
  border: none;
  margin: 0;
  padding:  16px 0;
  border-bottom: 1px solid var(--colors-base-grey-20);
  position: relative;
}

header nav .nav-sections .nav-flyout-close-button span {
  margin-inline-start: 36px;
}

header nav .nav-sections .nav-flyout-close-button::before {
  content: '';
  background: url('../../icons/forward.svg') no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  rotate: 180deg;
}

header nav .nav-sections .nav-section-teaser {
  position: relative;
  margin-block-end: 40px;
}

header nav .nav-sections .nav-section-teaser img {
  width: 100%;
  height: auto;
}

header nav .nav-sections .nav-section-teaser a {
  position: absolute;
  bottom: 0;
  left: 16px;
  right: 16px;
  display: flex;
  color: var(--color-grey-10);
  margin-bottom: 16px;
}

header nav .nav-sections .nav-section-teaser a::after {
  content: '';
  background: url('../../icons/arrow-down.svg') no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  rotate: -90deg;
  z-index: 2;
}

@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-list {
    display: flex;
    gap: 2em;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  display: none;
}

header nav[aria-expanded="true"] .nav-tools {
  display: flex;
  justify-content: end;
  align-items: center;
}

header nav .nav-tools button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

@media (width >= 900px) {
  header nav .nav-tools {
    display: block;
  }
}