header,
header a.button:any-link, 
header button {
  font-family: AudiType, sans-serif;
  font-weight: 400;
  font-stretch: var(--font-stretch-105);
}

/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: relative;
}

header nav {
  --transition-time: 420ms;
  --transiiton-easing: cubic-bezier(0.75,0.02,0.5,1);

  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand .' var(--nav-height)
    'sections sections .' 1fr / 1fr 1fr 1fr;
  align-items: center;
  margin: auto;
  max-width: 1784px;
  height: var(--nav-height);
  padding-inline: 1.75rem;
}

header nav[aria-expanded="true"] {
  grid-template:
    'hamburger tools tools' var(--nav-height)
    'sections sections sections' 1fr / 1fr 1fr 1fr;
  overflow-y: auto;
  min-height: 100vh;
}

@media (width >= 600px) {
  header nav {
    padding-inline: 2.5rem;
  }
}

@media (width >= 1200px) {
  header nav {
    display: flex;
    padding-inline: 3.75rem;
  }

  header nav[aria-expanded="true"] {
    min-height: unset;
    overflow: visible;
  }
}

@media (width >= 1200px) {
  header nav {
    padding-inline: 6rem;
  }
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
  margin-inline-start: 3px;
}

header nav .nav-hamburger button {
  height: 24px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 18px;
}

header nav .nav-hamburger-icon .line {
  position: absolute;
  background: currentcolor;
  height: 1px;
  inset: 0;
  width: 100%;
}

header nav .nav-hamburger-icon .line.top {
  top: -3px;
}

header nav .nav-hamburger-icon .line.bottom {
  top: 3px;
}

header nav[aria-expanded="true"] .line {
  transition: transform 300ms 300ms, top 300ms;
}

header nav[aria-expanded="false"] .line {
  transition: transform 300ms, top 300ms 300ms;
}


header nav[aria-expanded="true"] .line.middle {
  display: none;
}

header nav[aria-expanded="true"] .line.top {
  top: 0;
  transform: rotate(45deg);
}

header nav[aria-expanded="true"] .line.bottom {
  top: 0;
  transform: rotate(-45deg);
}


@media (width >= 1200px) {
  header nav .nav-hamburger {
    display: none;
  }
}

/* brand */
header nav .nav-brand {
  grid-area: brand;
  flex-basis: 69px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav[aria-expanded="true"] .nav-brand {
  display: none;
}

header nav .nav-brand a .link-text {
  display: none;
}

header nav .nav-brand .icon {
  width: 69px;
  height: auto;
}

@media (width >= 1200px) {
  header .nav-brand {
    margin-inline-end: 2.25rem;
  }

  header nav[aria-expanded="true"] .nav-brand {
    display: block;
  }
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  align-self: start;
  height: 100%;
}

header nav .nav-sections .nav-list {
  color: var(--colors-base-grey-60);
  position: relative;
  overflow-x: clip;
  height: 100%;
}

header nav .nav-section,
header nav .nav-item {
  padding-block: 12px;
  display: block;
}

header nav .nav-item.audi-sport {
  position: relative;
}

header nav .nav-item.audi-sport .link-text {
  padding-inline-start: 42px;
}

header nav .nav-item.audi-sport::before {
  background-color: var(--color-progressive-red);
  content: "";
  display: inline-block;
  height: 24px;
  left: 6px;
  position: absolute;
  transform: skew(-28deg);
  vertical-align: top;
  width: 24px;
}

header nav .nav-section .nav-section-toggle-button {
  position: relative;
  display: block;
}

header nav .nav-section .nav-section-toggle-button::after {
  content: '';
  background: url('../../icons/forward.svg') no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
}

header nav .nav-sections .nav-section-flyout {
  background-color: var(--background-color);
  position: absolute;
  inset: 0;
  z-index: 2;
}

header nav .nav-sections .nav-section-flyout[aria-expanded="false"] {
  visibility: hidden;
  translate: 100vw 0;
  scale: 1 .5;
  transition: translate var(--transition-time) var(--transiiton-easing),
              scale var(--transition-time) var(--transiiton-easing),
              visibility 1s var(--transition-time);
  transform-origin: top;
}

header nav .nav-sections .nav-section-flyout[aria-expanded="true"] {
  visibility: visible;
  translate: 0;
  scale: 1;
  transition: translate var(--transition-time) var(--transiiton-easing),
              scale var(--transition-time) var(--transiiton-easing);
  transform-origin: top;
}

header nav .nav-sections .nav-flyout-close-button {
  display: flex;
  width: 100%;
  background: none;
  border: none;
  margin: 0;
  padding:  16px 0;
  border-bottom: 1px solid var(--colors-base-grey-20);
  position: relative;
}

header nav .nav-sections .nav-flyout-close-button span {
  margin-inline-start: 36px;
}

header nav .nav-sections .nav-flyout-close-button::before {
  content: '';
  background: url('../../icons/forward.svg') no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  rotate: 180deg;
}

header nav .nav-sections .nav-section-teaser {
  position: relative;
  margin-block-end: 40px;
}

header nav .nav-sections .nav-section-teaser img {
  width: 100%;
  height: auto;
}

header nav .nav-sections .nav-section-teaser a {
  position: absolute;
  bottom: 0;
  left: 16px;
  right: 16px;
  display: flex;
  color: var(--color-grey-10);
  margin-bottom: 16px;
}

header nav .nav-sections .nav-section-teaser a::after {
  content: '';
  background: url('../../icons/arrow-down.svg') no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  rotate: -90deg;
  z-index: 2;
}

@media (width >= 1200px) {
  header .nav-wrapper:has(.nav-section-flyout[aria-expanded="true"]) + .nav-shadow {
    background-color: rgba(0 0 0 / 65%);
    inset: 0;
    position: fixed;
    z-index: -1;
  }

  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav .nav-section .nav-section-toggle-button::after {
    content: none;
  }

  header nav .nav-section:has(.nav-section-flyout[aria-expanded="true"]) .nav-section-toggle-button::after {
    content: '';
    height: 2px;
    width: 100%;
    background: var(--color-black);
    bottom: 0;
  }

  header nav .nav-sections .nav-list {
    display: flex;
    position: unset;
    align-items: center;
    gap: 2em;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav .nav-sections .nav-section-flyout {
    display: flex;
    justify-content: space-between;
    transform: unset;
    left: 0;
    right: 0;
    top: unset;
    bottom: unset;
    padding-inline: 197px 96px;
    padding-block-start: 52px;
  }
  
  header nav .nav-sections .nav-section-flyout[aria-expanded="false"] {
    max-height: 0;
    opacity: 0;
    transition: max-height var(--transition-time) var(--transiiton-easing), opacity 180ms var(--transiiton-easing);
  }

  header nav .nav-sections .nav-section-flyout[aria-expanded="true"] {
    max-height: 660px;
    opacity: 1;
    transition: max-height var(--transition-time) var(--transiiton-easing), opacity 180ms var(--transiiton-easing) 300ms;
  }

  header nav .nav-sections .nav-section-flyout .for-desktop-columns {
    columns: 160px 2;
    column-gap: 52px;
    margin-inline-end: 32px;
    margin-block-end: 80px;
  }

  header nav .nav-sections .nav-section-flyout .for-desktop-columns ul {
    margin: 0;
    padding: 0;
  }

  header nav .nav-sections .nav-flyout-close-button {
    display: none;
  }

  header nav .nav-sections .nav-section-teaser {
    max-width: 432px;
    width: 30vw;
    margin-block-end: 80px;
    font-size: 18px;
  }
}

@media (width >= 1500px) {
  header nav .nav-sections .nav-section-flyout .for-desktop-columns {
    columns: 320px 2;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  display: none;
}

header nav[aria-expanded="true"] .nav-tools {
  display: flex;
  justify-content: end;
  align-items: center;
}

header nav .nav-tools button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

header nav .nav-tools .nav-search-container[aria-expanded="false"] {
  display: none;
}

header nav .nav-tools .nav-search-container[aria-expanded="true"] {
  position: absolute;
  display: grid;
  top: 0;
  left: 0;
  right: 0;
  height: var(--nav-height);
  z-index: 3;
  padding-inline: 2.5rem;
  background-color: var(--background-color);
}

header nav .nav-tools .nav-search-container .icon-forward {
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1.5rem;
  margin: auto;
  rotate: 180deg;
}

header nav .nav-tools .nav-search-bar {
  display: grid;
  align-self: center;
  position: relative;
  grid-template-columns: [start-space] 24px [search-icon] 24px [input] 1fr [clear-space] 24px [end];
}

header nav .nav-tools .nav-search-bar .icon-search {
  grid-column: search-icon;
  grid-row: 1;
} 

header nav .nav-tools .nav-search-bar input {
  grid-column: input / clear-space;
  grid-row: 1;
  border: unset;
  line-height: 24px;
  margin: 0 12px;
}

header nav .nav-tools .nav-search-bar::after {
  grid-column: search-icon / clear-space;
  grid-row: 1;
  content: '';
  position: relative;
  top: 30px;
  height: 1px;
  border-top: 1px solid rgb(0 0 0);
}

@media (width >= 600px) {
  header nav .nav-tools .nav-search-container[aria-expanded="true"] {
    padding-inline: 3.75rem;
  }

  header nav .nav-tools .nav-search-container .icon-forward {
    left: 2.5rem;
  }
}

@media (width >= 1200px) {
  header nav .nav-tools {
    display: block;
  }

  header nav .nav-tools .nav-search-container[aria-expanded="true"] {
    padding-inline: 6rem;
  }

  header nav .nav-tools .nav-search-container .icon-forward {
    left: 3.75rem;
  }

  header nav .nav-tools .nav-search-bar {
    margin: 0 auto;
    width: 40vw;
    max-width: 576px;
  }
}