/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /*
    audi colors. I'm sure how many of these we will actually use
    but felt it better to just copy them all now and we can comment out
    or elimate later if needed.
  */
  --color-black: #000;
  --color-green: #090;
  --color-grey-05: #f2f2f2;
  --color-grey-10: #e5e5e5;
  --color-grey-15: #d9d9d9;
  --color-grey-20: #ccc;
  --color-grey-30: #b3b3b3;
  --color-grey-40: #999;
  --color-grey-50: grey;
  --color-grey-60: #666;
  --color-grey-70: #4c4c4c;
  --color-grey-80: #333;
  --color-grey-90: #1a1a1a;
  --color-progressive-red: #f50537;
  --color-red: #bb0a30;
  --color-white: #fff;
  --colors-background-backdrop-strong: rgba(0 0 0 / 90%);
  --colors-background-card: #fff;
  --colors-background-level-0: #fff;
  --colors-background-level-1: #fff;
  --colors-background-level-2: #fff;
  --colors-background-level-3: #f2f2f2;
  --colors-base-brand-black: #000;
  --colors-base-brand-progressive-red: #f50537;
  --colors-base-brand-white: #fff;
  --colors-base-charging-neon-blue: #2526fe;
  --colors-base-charging-neon-green: #2526fe;
  --colors-base-grey-0: #fff;
  --colors-base-grey-5: #f2f2f2;
  --colors-base-grey-10: #e5e5e5;
  --colors-base-grey-15: #d9d9d9;
  --colors-base-grey-20: #ccc;
  --colors-base-grey-30: #b3b3b3;
  --colors-base-grey-40: #999;
  --colors-base-grey-50: #808080;
  --colors-base-grey-60: #666;
  --colors-base-grey-70: #4c4c4c;
  --colors-base-grey-80: #333;
  --colors-base-grey-90: #1a1a1a;
  --colors-base-grey-100: #000;
  --colors-base-signal-green: #0da20d;
  --colors-base-signal-red: #eb0d3f;
  --colors-base-signal-yellow: #fa0;
  --colors-charging-default: #0da20d;
  --colors-charging-intelligent: #2526fe;
  --colors-interaction-label-active: #333;
  --colors-interaction-label-default: #333;
  --colors-interaction-label-disabled: #b3b3b3;
  --colors-interaction-label-filled: #333;
  --colors-interaction-label-focus: #000;
  --colors-interaction-label-hover: #000;
  --colors-interaction-label-pressed: #000;
  --colors-interaction-label-readonly: #333;
  --colors-interaction-primary-active: #000;
  --colors-interaction-primary-default: #000;
  --colors-interaction-primary-disabled: #b3b3b3;
  --colors-interaction-primary-focus: #000;
  --colors-interaction-primary-hover: #4c4c4c;
  --colors-interaction-primary-pressed: #000;
  --colors-interaction-secondary-active: #000;
  --colors-interaction-secondary-default: #666;
  --colors-interaction-secondary-disabled: #b3b3b3;
  --colors-interaction-secondary-filled: #333;
  --colors-interaction-secondary-focus: #000;
  --colors-interaction-secondary-hover: #000;
  --colors-interaction-secondary-pressed: #000;
  --colors-interaction-secondary-readonly: #333;
  --colors-interaction-tertiary-active: #333;
  --colors-interaction-tertiary-default: #d9d9d9;
  --colors-interaction-tertiary-disabled: #d9d9d9;
  --colors-interaction-tertiary-hover: #d9d9d9;
  --colors-ui-divider: #d9d9d9;
  --colors-ui-error: #eb0d3f;
  --colors-ui-highlight-primary: #eb0d3f;
  --colors-ui-highlight-secondary: #000;
  --colors-ui-highlight-tertiary: rgba(0 0 0 / 5%);
  --colors-ui-inverted: #fff;
  --colors-ui-pending: #fa0;
  --colors-ui-primary: #000;
  --colors-ui-secondary: #333;
  --colors-ui-success: #0da20d;
  --colors-ui-tertiary: #666;

  /* colors */
  --light-color: #eee;
  --dark-color: #ccc;
  --text-color: black;
  --clr-white : #fff;
  --clr-black : #000;
  --background-color: var(--clr-white);

  /* todo fix link colors */
  --link-color: var(--text-color);
  --link-hover-color: #b3b3b3;

  /* fonts */
  --heading-font-family: auditypeextended, sans-serif;
  --body-font-family: auditypewide, sans-serif;
  --fixed-font-family: menlo, consolas, 'Liberation Mono', monospace;
  --ff-auditype: auditype, sans-serif;
  --ff-auditype-extended: auditypeextended, sans-serif;

  /* font sizes */
  --font-size-xxs: 12px;
  --font-size-xs: 16px;
  --font-size-s: 20px;
  --font-size-m: 24px;
  --font-size-l: 27px;
  --font-size-xl: 36px;
  --font-size-xxl: 42px;

  /* font stretch */
  --font-stretch-100: 100%;
  --font-stretch-105: 105%;
  --font-stretch-130: 130%;

  /* font weight */
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* line height */
  --line-height-xxs: 12px;
  --line-height-xs: 24px;
  --line-height-s: 36px;
  --line-height-m: 42px;
  --line-height-l: 48px;
  --line-height-xl: 52px;
  --line-height-xxl: 66px;
  --line-height-xxxl: 96px;

  /* nav height */
  --nav-height: 72px;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: var(--font-size-l);
  line-height: var(--line-height-m);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-family: var(--heading-font-family);
  font-size: var(--font-size-l);
  line-height: var(--line-height-m);
  font-weight: var(--font-weight-bold);
}

h3, h4, h5, h6 {
  font-family: var(--heading-font-family);

  /* todo fix me, this does not exist */
  font-size: var(--heading-font-size-s);
  line-height: var(--line-height-s);
}

body {
  font-family: var(--body-font-family);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-xs);
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
  margin: 0;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

/* Headline FadeIn Animation */
@keyframes headline-fadein {
  0%, 25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

h1, h2, h3,
h4, h5, h6 {
  width: 100%;
  font-weight: var(--font-weight-bold);
  margin-top: 0;
  margin-bottom: 18px;
  scroll-margin: calc(var(--nav-height) + 1em);
  animation: headline-fadein .5s cubic-bezier(.15, 0, .25, 1) forwards, headline-fadein .5s cubic-bezier(.15, 0, .25, 1) forwards;
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-inline-start: 0;
  list-style: none;
}

::selection {
  background: #f50537;
}

/* Use flexbox to achieve "grid" like style for line breaks */
ul li {
  /* TODO I think we should do a general pass over all "forward" icons, once most main PRs are merged */
  display: flex;
  align-items: start;
}

/* only target li elements that contain a simple text node */
main ul li:not(:has(*))::before {
  content: url('/aemedge/icons/forward.svg');
  padding-right: 10px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
}

.block.dark ul li:not(:has(*))::before {
  content: url('/aemedge/icons/forward-white.svg');
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

a > span.icon {
  vertical-align: middle;
}

/* only add flex for non-headline elements. */
:not(h1, h2, h3, h4, h5, h6) > a:any-link {
  display: flex;
  align-items: center;
  word-break: break-word;
}

/* Add the caret svg to anchors that are not a primary or secondary button */
main a:not(.button)::after {
  content: url('/aemedge/icons/forward.svg');
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

/* buttons */
a.button:any-link, button {
  border: 1px solid black;
  box-sizing: border-box;
  color: var(--link-color);
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-family: var(--body-font-family);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  margin: 16px 0;
  overflow: hidden;
  padding: 15px 36px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover, a.button:focus, button:hover, button:focus {
  color: var(--link-hover-color);
  border-color: var(--link-hover-color);
  cursor: pointer;
}

a.button.primary, button.primary {
  color: var(--background-color);
  background-color: transparent;
}

a.button.secondary, button.secondary {
  border: unset;
  margin: 0;
  padding: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

main .section {
  padding: 36px 0;
}

/* Swap black and white in case of dark background */
.block.dark {
  color: var(--background-color);
  background-color: var(--text-color);
}

.block.dark p.button-container > a.button {
  color: var(--background-color);
  border-color: var(--background-color);
}

.block.dark p.button-container > a.button:hover {
  color: var(--link-hover-color);
  border-color: var(--link-hover-color);
}

.block.dark ul li::before {
  content: url('/aemedge/icons/forward-white.svg');
}

@media (width >= 768px) {
  h1, h2 {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-l);
  }
}

@media (width >= 1024px) {
  .section > div {
    max-width: 1200px;
    margin: auto;
  }

  h1 {
    font-size: var(--font-size-l);
    line-height: var(--line-height-m);
  }

  h2 {
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-xxl);
  }
}

/* Error 404 Styling */
.error {
  main.error {
    min-height: calc(100vh - var(--nav-height));
  }
}
