/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --background-color: white;
  --light-color: #eee;
  --dark-color: #ccc;
  --text-color: black;

  /* todo fix link colors */
  --link-color: var(--text-color);
  --link-hover-color: var(--dark-color);

  /* fonts */
  --body-font-family: auditypewide, sans-serif;
  --fixed-font-family: menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 1.6rem;
  --body-font-size-s: 18px;
  --body-line-height-m: 2.4rem;

  /* nav height */
  --nav-height: 64px;
}

h1 {
  font-family: AudiTypeExtended, sans-serif;
  font-size: 2.7rem;
  line-height: 4.2rem;
}

h2 {
  font-family: AudiTypeExtended, sans-serif;
  font-size: 2.1rem;
  line-height: 3rem;
}

h3, h4, h5, h6 {
  font-family: AudiTypeWide, sans-serif;
  font-size: 2.1rem;
  line-height: 3rem;
}

@media (width >= 768px) {
  h1 {
    font-size: 3.6rem;
    line-height: 4.8rem;
  }

  h2 {
    font-size: 2.4rem;
    line-height: 3.6rem;
  }
}

@media (width >= 1024px) {
  h1 {
    font-size: 4.2rem;
    line-height: 6rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 4.2rem;
  }
}

@media (width >= 1440px) {
  h1 {
    font-size: 5.4rem;
    line-height: 7.8rem;
  }

  h2 {
    font-size: 3.6rem;
    line-height: 5.4rem;
  }
}

@media (width >= 1920px) {
  h1 {
    font-size: 6.6rem;
    line-height: 9.6rem;
  }

  h2 {
    font-size: 4.2rem;
    line-height: 6.6rem;
  }
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: var(--body-line-height-m);
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

@keyframes headline-fadein {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

h1, h2, h3,
h4, h5, h6 {
  scroll-margin: calc(var(--nav-height) + 1em);
  animation: headline-fadein .5s cubic-bezier(.15, 0, .25, 1) forwards, headline-fadein .5s cubic-bezier(.15, 0, .25, 1) forwards;
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code, pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

/* only add flex for non-headline elements. */
:not(h1, h2, h3, h4, h5, h6) > a:any-link {
  display: flex;
  align-items: center;
}

/* Add the caret svg to anchors that are not a button */
a:not(.button)::after {
  content: url('/aemedge/icons/forward-small.svg');
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 6px;

  /* todo change svg color fill on hover */
}

/* buttons */
a.button:any-link, button {
  border: 1px solid black;
  box-sizing: border-box;
  color: var(--link-color);
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  margin: 16px 0;
  overflow: hidden;
  padding: 15px 36px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover, a.button:focus, button:hover, button:focus {
  color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main .section {
  padding: 64px 16px;
}

@media (width >= 600px) {
  main .section {
    padding: 64px 32px;
  }
}

@media (width >= 900px) {
  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}
